/*

[Default] Zielony Gradient: #134E5E => #71B280
(Ciemny => Jasny)

[R-] Czerwony Gradient: #1F1C18 => #8E0E00
(Ciemny => Jasny)

[B-] Niebieski Gradient: #373B44 => #4286f4
(Ciemny => Jasny)

[P-] Różowy Gradient: #493240 => #FF0099
(Ciemny => Jasny)

[O-] Pomarańczowy Gradient: #f83600 => #fe8c00
(Ciemny => Jasny)

[A-] Morski Gradient: #0ED2F7 => #B2FEFA
(Ciemny => Jasny)

https://mdigi.tools/color-shades/
https://mdigi.tools/color-shades/#71b280

2 pierwsze: 5. i 6. od prawej z 15
2 ostatnie: 5. i 4. od lewej z 15

*/

.Pcolor{
    background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

.Ptry-again{
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

.Ptry-again:after{
    content: '';
    position: absolute;
    left: 130px;
    right: 130px;
    height: 1px;
    top: 100%;
    background: #ebebeb;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.Ptry-again:hover:after{
    left: 40%;
    right: 40%;
}

.Pwrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pbutton{
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    height: 60px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 0px;
    box-shadow: 0 0 0 white, 0 0 0 white;
}

.Pbutton-text{
    display: inline-block;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #493240, #FF0099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Pbutton-circle{
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px #493240, 0 0 20px #493240, 0 0 30px #493240;
    transition: all 0.5s ease;
}

.Pbutton-circle2{
    top: auto;
    bottom: 0;
}

.Pbutton-circle3{
    left: auto;
    right: 0;
    box-shadow: 0 0 10px #FF0099, 0 0 20px #FF0099, 0 0 30px #FF0099;
}

.Pbutton-circle4{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px #FF0099, 0 0 20px #FF0099, 0 0 30px #FF0099;
}

.Pbutton:hover{
    box-shadow: -15px 0 70px -15px #493240, 15px 0 70px -15px #FF0099;
}

.Pbutton:hover .Pbutton-circle1{
    transform: translate(-15px, -15px) scale(0);
}

.Pbutton:hover .Pbutton-circle2{
    transform: translate(-15px, 15px) scale(0);
}

.Pbutton:hover .Pbutton-circle3{
    transform: translate(15px, -15px) scale(0);
}

.Pbutton:hover .Pbutton-circle4{
    transform: translate(15px, 15px) scale(0);
}

.Pbutton:hover .Pbutton-circle{
    box-shadow: none;
}

.Ppopup{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 3px;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease
}

.Ppopup-inside{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 black;
    transition:
            box-shadow 0.5s ease 0.7s,
            border-radius 0.35s ease 0.7s;
}

.Pbackgrounds{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.Pbackground{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #493240, #FF0099);
    transform: scale(0);
    transition: all 0.5s ease 0s;
    border-radius: 50%;
}

.Pbackground2{
    --offset: 10%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #5b3e50, #99005c);
    transform: scale(0);
    transition: all 0.5s ease 0.1s;
}

.Pbackground3{
    --offset: 20%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #6f4c61, #bb0070);
    z-index: 2;
    transition: all 0.5s ease 0.2s;
}

.Pbackground4{
    --offset: 30%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #c1a4b6, #ff66c2);
    z-index: 3;
    transition: all 0.5s ease 0.3s;
}

.Pbackground5{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #cfb8c6, #ff88cf);
    z-index: 4;
    transition: all 0.5s ease 0.4s;
}

.Pbackground6{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: white;
    z-index: 5;
    transition: all 0.8s ease 0.4s;
}

.Pcontent{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease 0.75s;
    z-index: 10;
}

.Pcontent-wrapper{
    text-align: center;
}

body.Pactive .Pcontent{
    opacity: 1;
    transform: none;
}

body.Pactive .Ppopup{
    opacity: 1;
    visibility: visible;
}

body.Pactive .Ppopup-inside{
    border-radius: 0;
    box-shadow: -50px 0 200px -50px #493240, 50px 0 200px -50px #FF0099;
}

body.Pactive .Pbackground{
    transform: scale(1);
}

body.Pactive .Pbackground6{
    transform: scale(8);
}